@import "./../../SigmaBauApp";

#mobile-menu {
  background-color: $primary-color-light;
  display: none;
  font-size: large;
  margin: 0;
  padding: 15px;
}

#mobile-menu > li {
  margin: 5px;
}

#mobile-menu {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#mobile-menu > li:hover, .brand-logo:hover {
  cursor: pointer;
}

#mobile-menu.open {
  display: block !important;
}

.nav-sigma-logo {
  float: left;
  height: $navbar-height - $navbar-height*0.2;
  margin-top: $navbar-height*0.1;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 60%;
  cursor: pointer;
}
#desktop-menu > li > a{
  font-size: 18px;
}
burger-button > div {
  margin-top: ($navbar-height - 60px)/2;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.sidenav-trigger {
  float: right !important;
}