// Color

$primary-color: color("grey", "lighten-5");
$primary-color-light: lighten($primary-color, 30%);
$primary-color-dark: darken($primary-color, 50%);

$secondary-color: color("amber", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("grey", "lighten-1");

$sigma-color: #4f4c4c;