@import "./../../SigmaBauApp";

.carousel-item .heading {
  text-align: left;
  color: $sigma-color !important;
  font-weight: bolder !important;
  position: absolute;
  margin: 5px;
  padding: 10px 15px;
  background-color: rgba(white, 0.7);
}

.carousel-item {
  min-height: 0 !important;
}

.carousel {
  height: auto;
  min-height: 0;
}

#sigma {
  margin-top: 28px;
  margin-bottom: 17px;
  max-height: 150px;
  max-width: 80%;
}

.gray-background {
  background-color: #f4f4f4;
}

.padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.topics{
  margin-bottom: 25px;
  padding: 5px;
  border: solid 4px #846a50;
}
.marginbottom{
  margin-bottom: 20px;
}