@import "./../../SigmaBauApp";

.gray-background{
  background-color: #f4f4f4;
}
.member.header{
  font-size: 24px;
  line-height: 32px;
}
sb-member > div{
  margin: 40px 10px 10px;
}
.team {
  padding-top: 64px;
  padding-bottom: 64px;
}
.spacer.vertical{
  margin-bottom: 18px;
}